# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Vim swap files
.*.swp
.*.swo

# You Complete Me configuration
.ycm_*.py*

# CScope
cscope.out

# KDevelop 
Project.kdev*
.kdev4
scrap.kdev4
test.kdev4

# Built executable
scrap
test
tests
build/
testfiles/temp

# Google-test build directory
gtest/build/
